@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes loading-bar {
    0% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .animate-loading-bar {
    animation: loading-bar 1.5s infinite linear;
    width: 50%;
    /* Make the bar smaller than full width so it moves visibly */
  }
}

/* Custom Styles */
body {
  background-color: #f3f4f6;
  /* gray-100 */
}